<%- include ('./header.ejs') %>

    <div class="col-sm-9" style="margin-left: 28px;">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action disabled" style="background-color: #f5f5f5;"></a>
                <% for(var i = 0;i<offers.length;i++){%>
                    <a href="/bidsHistory?id=<%= offers[i]._id %>" class="list-group-item list-group-item-action">
                        <h5 class="mb-1">
                          <img src="images/<%= offers[i].informations.picture %>" alt="avatar image" width="50" height="50" class="rounded-circle"/>
                          &nbsp<%=offers[i].name%></h5>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action disabled" style="background-color: #f5f5f5;"></a>
                <%}%>
            </div>
        </div>
      </div>
    </div>

  </div>

  
